{% extends 'base.html' %}

{% block content %}

<div class="flex justify-between">
   <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>

    {% if user.is_superuser %}
        <div>
            <a href="{% url 'purchases' %}">Purchases</a>
        </div>
    {% endif %}

</div>

<div class="flex p-10 w-full h-200 m-5">
    <img class="w-28 h-36" src="{{ obj.image.url }}" alt="image">
    <div class="w-2/3 p-5">

        {{ obj.name }} <br>
        {{ obj.description }}  <br>
        {{ obj.price }} $ <br>
        Quantity: {{ obj.quantity }}  <br>
        <br>

        {% if user.is_superuser %}
            <button>Update</button>
        {% endif %}

        <br>
        <br>
        <br>


        <form method="post" action="{% url 'add' obj.pk %}">
            {% csrf_token %}
            {{ create_form.quantity_of_product }}
            <a href="url 'profile' ">
                <input class="bg-green-500 border-black border-2 rounded-lg p-2" type="submit" value="Add">
            </a>

        </form>

    </div>

</div>


{% endblock %}

