{% extends 'base.html' %}

{% block content %}

<div class="flex justify-between">
    <div>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
    <div>
        <a href="{% url 'home' %}">Home</a>
    </div>
    <div>
        <a href="{% url 'my_purchases' %}">My purchases</a>
    </div>

    {% if user.is_superuser %}
    <div>
        <a href="{% url 'purchases' %}">Purchases</a>
    </div>
    <div>
        <a href="{% url 'return' %}">Return</a>
    </div>
    {% endif %}
</div>

<div class="p-10 w-full h-200 m-5">
    <h1>My purchases: </h1>
    {% for obj in purchase %}
        <div class="flex w-2/3 p-5">
            {{ obj.created_at }} <br>
            {{ obj.buyer}} <br>
            {{ obj.product }}  <br>
            Quantity: {{ obj.quantity_of_product }} <br>
            Amount: {{ obj.total_amount }}
        </div>

    {% if enough_money %}
        <form method="post" action="{% url 'buy' %}">
            {% csrf_token %}
            <input type="submit" value="Buy">
        </form>
    {% else %}
        <p>You don't have enough money to make purchases.</p>
    {% endif %}


    {% endfor %}
</div>
{% endblock %}

